body {

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #808080;
  margin:0px;

}

div.sidebar ul.list-group li.hover-effect:hover{

 background-color : #FFA500;

}

ul.dropdown-menu li:hover{
    
    background-color: #800080;

}

ul.dropdown-menu {
    width:80%;
}

div.ps-scrollbar-y{

    background-color :grey;

}

a {
  color: #00B7FF;
}

.scroller {
                overflow-y: hidden;
                position: relative;
}

.main {

  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: left;
  -moz-box-sizing: content-box;
  box-sizing: content-box; 

}

.sidebar {

    width: 200px;
    background-color: #FF8300;
    position: absolute;
    float:left;
    top: 0px;
    bottom: 0px;
    left: 0px;
    height:100%;
    overflow: hidden;
    z-index: 10;

}

.show-hide-transition {

 -moz-transition: all linear 1s;
  -o-transition:all linear 1s;
  -webkit-transition:all linear 1s;
  transition:all linear 1s;

}

.show-hide-transition.ng-hide {
  opacity:0;

}

.show-hide-transition.ng-show {
    
    opacity:1;

}

.lshow-hide-transition{
 -webkit-transition:all linear 3s;
  transition:all linear 3s;
}

.lshow-hide-transition.ng-show {
    opacity:1;
}

.lshow-hide-transition.ng-hide {
  opacity:0;
}

@keyframes myfirst {
    from {: red;}
    to {background: yellow;}
}

div {
   text-align: center;
}

li.list-group-item{
  background-color: #FF8300;
  border:'0px';
  
}

.sidebar li.list-group-item{
border : 0px;

}

.sidebar li.list-group-item a{

text-decoration: none;
color:#000000;

}


.olControlAttribution {
    bottom: 5px;
}

/**
 * Map Examples Specific
 */
.smallmap {

    border: 1px solid #ccc;
}

div#container {

margin-left : 200px;
padding : 0px;
margin-right :0px;

}

body {
    -webkit-text-size-adjust: none;
}

@-ms-viewport{
  width: device-width;
  initial-scale:1.0;
}

.olControlButtonItemActive {
    
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
}

.olControlPanel {
    width: 50px;
    height: 50px;
    right: 0px;
}

table.table td{
   border: 0px !important;
}

@media only screen and (max-width: 768px){
  div#container {

  margin-left : 0px;

}

div#forecast-data{
  margin-left : 35px;

}

}

/*
@media only screen and (max-width: 500px) and (min-resolution : 200dpi)

@media only screen and (max-width: 500px) and (min-resolution : 150dpi)*/